node_modules/
npm-debug.log*
package-lock.json

.DS_Store

dist/
build/
*.tsbuildinfo

ios/Pods/
ios/build/
ios/*.xcworkspace
ios/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/

android/.gradle/
android/.idea/
android/build/
android/local.properties

.vscode/

tmp/
.env
*.keystore
